<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("./partials/mainViews/head.ejs") %>
    <link rel="stylesheet" href="/css/home.css" />
    <title>Vender</title>
  </head>
  <body>
    <!-- BARRA DE NAVEGACIÃ“N -->
    <%- include("./partials/mainViews/navbar.ejs", {page_name:"Vender"}) %>
    <!-- ZONA DE SCRIPTS -->
    <%- include("./partials/mainViews/scripts.ejs") %>
    <!-- ZONA DE PIE DE PÃGINA -->
    <%- include("./partials/mainViews/footer.ejs") %>
  </body>
</html>
