<div id="home" class="d-flex align-items-center">
  <div class="container" data-aos="zoom-out" data-aos-delay="100">
    <div class="row">
      <div class="col-xl-12" style="text-align: center;">
        <h1>¡Compra y vende juegos con nosotros!</h1>
        <h2>¡Aquí encontrarás los mejores juegos nuevos y seminuevos a los mejores precios!</h2>
      </div>
    </div>
    <div class="row">
      <div class="row">
      </div>
    </div>
  </div>
</div>
