.users-list li {
    background: peachpuff;
    padding: 10px 20px;
    list-style: none;
    color: black;
    font-weight: 400;
    border-radius: 5px;
    margin-top: 15px;
}

.users-list-link {
    float: right;
    color: white;
    margin-left: 20px;
    cursor: pointer;
}